<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="addIngToShoppingList()"> Add ingredients to shopping list</a></li>
        <li><a style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer" (click)="onDelRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let i of recipe.ingredients">
        {{i.name}} - {{i.amount}}
      </li>
    </ul>
  </div>
</div>

